/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts6, span.rvts6
{
 color: #000080;
 text-decoration: underline;
}
span.rvts7
{
 color: #a0a0a0;
}
span.rvts8
{
 font-size: 15pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #696969;
}
span.rvts9
{
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts10
{
 font-style: italic;
 color: #a0a0a0;
}
a.rvts11, span.rvts11
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts11:hover { color: #0000ff; }
span.rvts12
{
 font-size: 11pt;
}
a.rvts13, span.rvts13
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts13:hover { color: #0000ff; }
span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts15, span.rvts15 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts16
{
 font-size: 14pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts17
{
}
span.rvts18
{
 color: #000000;
}
span.rvts19
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts20
{
 font-size: 30pt;
 font-weight: bold;
}
span.rvts21
{
 font-size: 16pt;
}
span.rvts22
{
 font-size: 15pt;
}
span.rvts23
{
 font-size: 14pt;
}
span.rvts24
{
 font-size: 13pt;
}
span.rvts25
{
 font-size: 12pt;
}
span.rvts26
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts27, span.rvts27
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts28
{
 font-style: italic;
 color: #000000;
}
span.rvts29
{
 font-weight: bold;
 color: #000000;
}
span.rvts30
{
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
a.rvts31, span.rvts31
{
 color: #0000ff;
 text-decoration: none;
}
a.rvts31:hover { color: #0000ff; }
span.rvts32
{
 font-weight: bold;
}
span.rvts33
{
 font-style: italic;
}
span.rvts34
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts35
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts36
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts37
{
 font-size: 14pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #0000ff;
 background-color: #ddddff;
}
span.rvts38
{
 font-size: 14pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #333399;
 background-color: #b7b7ff;
}
a.rvts39, span.rvts39
{
 font-size: 14pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts39:hover { color: #0000ff; }
span.rvts40
{
 color: #ffffff;
}
span.rvts41
{
 font-size: 14pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts42
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ff0000;
}
span.rvts43
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts44
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts45
{
 font-weight: bold;
 color: #333399;
}
span.rvts46
{
 color: #ff0000;
}
span.rvts47
{
 font-size: 7pt;
 vertical-align: super;
}
span.rvts48
{
 text-decoration: underline;
}
span.rvts49
{
 font-size: 14pt;
 font-weight: bold;
 color: #000080;
}
span.rvts50 /* Font Style */
{
}
span.rvts51
{
 font-style: italic;
}
span.rvts52
{
 font-weight: bold;
}
span.rvts53
{
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts54
{
 font-size: 14pt;
 font-weight: bold;
 color: #333399;
}
span.rvts55
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts56
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts57
{
 font-weight: bold;
}
span.rvts58
{
 font-style: italic;
}
span.rvts59
{
 font-size: 14pt;
 font-weight: bold;
 color: #ffffff;
 background-color: #333399;
}
span.rvts60
{
 border-bottom: double;
}
a.rvts61, span.rvts61
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts61:hover { color: #0000ff; }
span.rvts62
{
 text-decoration: underline;
}
a.rvts63, span.rvts63
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts63:hover { color: #0000ff; }
a.rvts64, span.rvts64
{
 font-size: 11pt;
 font-family: '@Arial Unicode MS';
 color: #0000ff;
 text-decoration: underline;
}
a.rvts64:hover { color: #0000ff; }
span.rvts65
{
 font-size: 11pt;
 font-family: '@Arial Unicode MS';
}
a.rvts66, span.rvts66
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts66:hover { color: #0000ff; }
span.rvts67
{
 font-size: 11pt;
}
a.rvts68, span.rvts68
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts68:hover { color: #0000ff; }
span.rvts69
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts70
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 text-decoration: underline;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts72
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts73
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts74
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 text-decoration: underline;
}
span.rvts75
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts76
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts77
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts78
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 text-decoration: underline;
}
span.rvts79
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts80
{
 color: #ff0000;
}
span.rvts81
{
 color: ;
}
span.rvts82
{
 font-weight: bold;
 color: #000000;
 text-decoration: underline;
}
span.rvts83
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts84
{
 font-size: 14pt;
 color: #0000ff;
}
span.rvts85
{
 font-size: 14pt;
 font-style: italic;
 color: #000000;
}
span.rvts86
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts87
{
 color: #ff0000;
 text-decoration: underline;
}
span.rvts88
{
 font-weight: bold;
 color: #333399;
}
span.rvts89
{
 font-weight: bold;
 color: #000080;
}
span.rvts90
{
 font-style: italic;
 font-weight: bold;
 color: #000080;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps3
{
 background: #333399;
}
.rvps4
{
 text-align: center;
 line-height: 1.50;
 margin: 250px 0px 0px 0px;
}
.rvps5
{
 border-color: #aaaaaa;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 margin: 19px 0px 9px 0px;
}
.rvps6
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 background: #ffffff;
 padding: 3px 0px 0px 0px;
 margin: 26px 0px 0px 0px;
}
.rvps7
{
 margin: 0px 0px 0px 48px;
}
.rvps8
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps9 /* Paragraph Style */
{
}
.rvps10
{
 text-align: justify;
}
.rvps11
{
 margin: 0px 0px 0px 24px;
}
.rvps12
{
 text-indent: -24px;
 margin: 0px 0px 0px 72px;
}
.rvps13
{
 margin: 0px 0px 0px 24px;
}
.rvps14
{
 text-indent: -24px;
 margin: 0px 0px 0px 24px;
}
.rvps15
{
 text-indent: -5px;
}
